#home__articles .articles__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#home__articles .articles__container > *:first-child,
#home__articles .articles__container > *:last-child {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / span 2;
  gap: 1rem;
}

#home__articles .articles__container > *:last-child {
  grid-column: 2 / span 2;
}

#article .meta {
  display: flex;
  background-color: hsl(var(--clr-grey__900));
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}
