@import url(root.css);
@import url(utility.css);
@import url(nav.css);
@import url(showcase.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(var(--clr-grey__900));
  color: hsl(var(--clr-grey__50));
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

a {
  color: hsl(var(--clr-grey__50));
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
  font-family: 'Staatliches', cursive;
}
