#nav__main {
  z-index: 2;
  background-color: hsl(var(--clr-grey__800));
  position: sticky;
  top: 0;
}

#nav__main .container {
  display: grid;
  align-items: center;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
}

#nav__main .logo {
  width: 180px;
}

#nav__main ul {
  display: flex;
  justify-self: end;
}

#nav__main ul li a {
  color: hsl(var(--clr-grey__200));
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  margin: 0 5px;
  padding: 0.75rem;
  font-weight: 700;
}

#nav__main ul li a.current {
  background-color: hsl(var(--clr-primary));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#nav__main ul li a:not(.current):hover {
  background-color: hsl(var(--clr-grey__700));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#nav__main .social {
  justify-self: center;
}

#nav__main .social i {
  color: hsl(var(--clr-grey__500));
  margin-right: 0.5rem;
}
